In [5]:
import pandas as pd
# Membuat dataframe dari data yang disalin ke clipboard
df = pd.read_clipboard()

In [7]:
df

      Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0   Shalwa      P      2024           160                30          Jakpus
1    Silvi      P      2024           162                15          Cakung
2    Sonia      P      2024           164                60          Bekasi
3     Egla      P      2024           155                60          Bekasi
4   Sintia      P      2024           165                15          Jakbar
5    Delia      P      2024           154                60          Bekasi
6   Charin      P      2024           156                15          Jakbar
7   Sheila      P      2024           156                60          Jaktim
8   Naufal      L      2024           165                25          Jakbar
9    Akbar      L      2024           165                60           Depok
10   Damar      L      2024           168                80         Tangsel
11  Fathir      L      2024           180                80         Tangsel
12   Hasna      P      2024           164                45          Jakbar
13   Faris      L      2024           180                65          Bekasi
14  Marvel      L      2024           165                65          Jakbar
15   Tista      P      2024           159                60          Bekasi
16   Fajar      L      2024           162                60         Bandung
17   Shafa      P      2024           165                65          Bekasi
18   Valen      L      2024           165                70           Papua

In [15]:
#Menghitung  rata rata tinggi
rata_tinggi = df ['Tinggi Badan'].mean()
rata_tinggi

163.68421052631578

In [21]:
print(df.dtypes)

Nama                object
Gender              object
Angkatan             int64
Tinggi Badan         int64
Waktu Perjalanan     int64
Wilayah Tinggal     object
dtype: object

In [23]:
#mengubah tipe data kolom 'angkatan' menjadi string
df ['Angkatan'] = df ['Angkatan'].astype(str)

In [25]:
print(df.dtypes)

Nama                object
Gender              object
Angkatan            object
Tinggi Badan         int64
Waktu Perjalanan     int64
Wilayah Tinggal     object
dtype: object